

# Default ignored files
BulletinBoardAPI/.idea
BulletinBoardAPI/BulletinBoardAPI/bin
BulletinBoardAPI/BulletinBoardAPI/obj

BulletinBoardAPI/BulletinBoardAPI.Tests/bin
BulletinBoardAPI/BulletinBoardAPI.Tests/obj